.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: #282c34;  
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1.5vmin);

}

h1 {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.title {
  color: white;
  justify-content: center;
  display: inline-block;
  text-align: center;
}

.col {
  text-align: center;
}

.data {
  color:turquoise;
  justify-content: center;
}
